<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829277582950-0kp081h8s3sih28nr5vada3vtf6e3s5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829277582950-0kp081h8s3sih28nr5vada3vtf6e3s5q</string>
	<key>API_KEY</key>
	<string>AIzaSyCSmzZoEHrCHVDsKlrukscXVSCXi_Y-_EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>829277582950</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiditorWeb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>editor-ai-390116</string>
	<key>STORAGE_BUCKET</key>
	<string>editor-ai-390116.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829277582950:ios:d413be486166cd91441fa7</string>
</dict>
</plist>